<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2020-2024 THALES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       THALES - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderCategory">
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.archimappable_elements"
            isTopLevel="true"
            name="Capella Elements">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ArchitectureMappable">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ArchitectureMappingQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.constraint2stpa"
            isTopLevel="true"
            name="Mitigated STPA Elements">
         <availableForType
               class="org.polarsys.capella.core.data.capellacore.Constraint">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CapellaConstraintToMitigableQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.assumption2stpa"
            isTopLevel="true"
            name="STPA Origin">
         <availableForType
               class="org.polarsys.capella.core.data.capellacore.Constraint">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CapellaConstraintToSCQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.capella2stpaconstraints"
            isTopLevel="true"
            name="STPA Design Constraints">
         <availableForType
               class="org.polarsys.capella.core.data.capellacore.NamedElement">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CapellaNEToSTPAConstraintQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.capella2stpa"
            isTopLevel="true"
            name="STPA Counterparts">
         <availableForType
               class="org.polarsys.capella.core.data.capellacore.NamedElement">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CapellaNEToSTPAQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.cfae_causalfactors"
            isTopLevel="true"
            name="Causal Factors">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlawAnalysisElement">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CFAECausalFactorsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.cfae_controlaction"
            isTopLevel="true"
            name="Control Action">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlawAnalysisElement">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CFAEControlActionQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.cfae_hazards"
            isTopLevel="true"
            name="Hazards">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlawAnalysisElement">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CFAEHazardsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.cfae_constraints"
            isTopLevel="true"
            name="Violated Constraints">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlawAnalysisElement">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CFAEViolatedConstraintsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.cfae_lossscenarios"
            isTopLevel="true"
            name="Loss Scenarios">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlawTarget">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CFTLossScenariosQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.cfae_ucas"
            isTopLevel="true"
            name="Unsafe Control Actions">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlawTarget">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.CFTUCAsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.ca_ucas"
            isTopLevel="true"
            name="Unsafe Control Actions">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ExchangeElement">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ControlActionUCAsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.controlentity_incoming"
            isTopLevel="true"
            name="Incoming Relations">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlEntity">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ControlEntityIncomingQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.controlentity_outgoing"
            isTopLevel="true"
            name="Outgoing Relations">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlEntity">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ControlEntityOutgoingQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.controlflaw_controlaction"
            isTopLevel="true"
            name="Context">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlaw">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ControlFlawControlActionQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.controlflaw_ls"
            isTopLevel="true"
            name="Loss Scenarios">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlFlaw">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ControlFlawLossScenariosQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.controller_resp"
            isTopLevel="true"
            name="Responsibilities">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ControlEntity">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ControllerResponsibilitiesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.decomposable_composite"
            isTopLevel="true"
            name="Composite">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Decomposable">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.DecomposableCompositeQuery">
            </basicQuery>
         </categoryQuery>
      </category>   <category
            id="com.thalesgroup.mde.capella.stpa.queries.decomposable_decomposition"
            isTopLevel="true"
            name="Decomposition">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Decomposable">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.DecomposableDecompositionQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.exchangeelement_relation"
            isTopLevel="true"
            name="Relation">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ExchangeElement">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ExchangeElementRelationQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.exchangeelement_exerresp"
            isTopLevel="true"
            name="Exercised Responsibilities">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ExchangeElement">
         </availableForType>
            <targetBrowserId
                     id="ReferencingElementBrowser">
            </targetBrowserId>
            <categoryQuery>
               <basicQuery
                     class="com.thalesgroup.mde.capella.stpa.queries.ExchangeElementExercisedResponsibilitiesQuery">
               </basicQuery>
            </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.respsupportexchangeelement_resp"
            isTopLevel="true"
            name="Supported Responsibilities">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ResponsibilitySupportExchangeElement">
         </availableForType>
            <targetBrowserId
                     id="ReferencingElementBrowser">
            </targetBrowserId>
            <categoryQuery>
               <basicQuery
                     class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilitySupportExchangeElementResponsibilitiesQuery">
               </basicQuery>
            </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.hazards_losses"
            isTopLevel="true"
            name="Losses">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Hazard">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.HazardLossesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.hazards_sc"
            isTopLevel="true"
            name="System-Level Constraints">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Hazard">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.HazardSCQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.loss_hazards"
            isTopLevel="true"
            name="Hazards">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Loss">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.LossHazardsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.ls_ucas"
            isTopLevel="true"
            name="Unsafe Control Actions">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.LossScenario">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.LossScenarioUCAsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.loss_stakes"
            isTopLevel="true"
            name="Stakes">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Loss">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.LossStakesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.mitigable_countermeasures"
            isTopLevel="true"
            name="Countermeasures">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Mitigable">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.MitigableConstraintsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.relation_exchangeelements"
            isTopLevel="true"
            name="Contents">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Relation">
         </availableForType>
         <targetBrowserId
               id="CurrentElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.RelationExchangeElementsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.relation_source"
            isTopLevel="true"
            name="Source">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Relation">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.RelationSourceQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.relation_target"
            isTopLevel="true"
            name="Target">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Relation">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.RelationTargetQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.responsibility_cas"
            isTopLevel="true"
            name="Control Actions">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Responsibility">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilityControlActionsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.responsibility_controller"
            isTopLevel="true"
            name="Controller">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Responsibility">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilityControllerQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.responsibility_fb"
            isTopLevel="true"
            name="Supporting Feedback">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Responsibility">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilityFeedbackQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.responsibility_poi"
            isTopLevel="true"
            name="Supporting Information">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Responsibility">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilityInformationQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.responsibility_scs"
            isTopLevel="true"
            name="System-Level Constraints">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Responsibility">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilitySCQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.responsibility_vars"
            isTopLevel="true"
            name="Process Model Variables">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Responsibility">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ResponsibilityVariablesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.sc_assumptions"
            isTopLevel="true"
            name="Assumptions">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.SystemConstraint">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.SCAssumptionsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.sc_hazards"
            isTopLevel="true"
            name="Hazards">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.SystemConstraint">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.SCHazardsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.sc_resp"
            isTopLevel="true"
            name="Responsibilities">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.SystemConstraint">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.SCResponsibilitiesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.stakeholder_stakes"
            isTopLevel="true"
            name="Stakes">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Stakeholder">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.StakeholderStakesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.stake_losses"
            isTopLevel="true"
            name="Losses">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Stake">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.StakeLossesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.stake_stakeholder"
            isTopLevel="true"
            name="Stakeholder">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.Stake">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.StakeStakeholderQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.uca_ls"
            isTopLevel="true"
            name="Loss Scenarios">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.UnsafeControlAction">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.UCALossScenariosQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.value_variable"
            isTopLevel="true"
            name="Variable">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ProcessModelValue">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.ValueVariableQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.variable_resp"
            isTopLevel="true"
            name="Responsibilities">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ProcessModelVariable">
         </availableForType>
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.VariableResponsibilitiesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="com.thalesgroup.mde.capella.stpa.queries.variable_values"
            isTopLevel="true"
            name="Values">
         <availableForType
               class="com.thalesgroup.mde.capella.stpa.model.ProcessModelVariable">
         </availableForType>
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <categoryQuery>
            <basicQuery
                  class="com.thalesgroup.mde.capella.stpa.queries.VariableValuesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
   </extension>

</plugin>
